<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Excel File</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Upload Student IDs</h1>
        </header>
        <main>
            <form method="POST" enctype="multipart/form-data" class="form-container">
                <label for="file">Choose Excel File:</label>
                <input type="file" name="file" required>
                <input type="submit" value="Upload" class="btn">
            </form>
        </main>
    </div>
</body>
</html>
